.blog {
  background: $white url("../images/blogBG.jpg") top center no-repeat;


  &__header-container {
    margin-left: 20px;
    margin-bottom: 20px;
    min-height: 151px;
  }
  .page-header {
    padding-top: 21px;
  }

  &__content {
    border-radius: 20px;
    background-color: transparent;
    min-height: 50vh;
    padding-bottom: 54px;
  }
}
.filter-articles {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: $contentBG;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 26px 20px 15px;
  margin-bottom: 18px;

  &__item {
    margin-bottom: 10px;
    margin-right: 32px;
  }
  &__link {
    @include font(16px, $Geometria, $text, 19px, 400);

    &:hover,
    &.active {
      color: $linkInfo;
    }
  }
}