.robo-advisors {
  background: $white url("../images/roboAdvisorsBG.jpg") top center no-repeat;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 55px;
  }
  &__content {
    /*flex-shrink: 0;
    width: 974px;
    padding-bottom: 100px;*/
  }

  &__list {
    padding: 4px;
    border-radius: 20px;
    background-color: $filtersBG;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  }

  &__list-title {

  }

  &__list-header {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    @include font(12px, $Geometria, $text, 15px, 700);
    text-transform: uppercase;
  }

  &__lh-item {
    flex-shrink: 0;
    cursor: pointer;
  }

  &__lh-company {
    width: 101px;
    margin-right: 35px;
  }

  &__lh-rating {
    width: 47px;
    margin-right: 25px;
  }

  &__lh-recommendation {
    width: 149px;
    margin-right: 25px;
  }

  &__lh-account {
    width: 87px;
    margin-right: 25px;
  }

  &__lh-fee {
    width: 50px;
    margin-right: 25px;
  }

  &__lh-aum {
    width: 62px;
    margin-right: 25px;
  }

  &__lh-details {
    width: 167px;
    margin-right: 25px;
  }

  &__text-container {
    padding-top: 70px;
  }

  &__text-inner {
    padding: 30px 20px;
    border-radius: 20px;
    background-color: $filtersBG;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  }

  &__text-strong {
    margin: 0 -16px -6px;
    padding: 4px 16px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  }

  &__section-title {
    margin-bottom: 20px;
    @include font(22px, $Geometria, $text, 28px, 400);
  }

  &__h2 {
    margin-bottom: 52px;
    @include font(32px, $Intro, $text, 38px, 400);
  }

  &__h3 {
    margin-bottom: 16px;
    padding-top: 36px;
    @include font(22px, $Geometria, $text, 28px, 700);
  }

  &__p {
    margin-bottom: 20px;
    @include font(14px, $Geometria, $text, 20px, 400);
  }
}