
// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Fonts
$Geometria: Geometria, sans-serif;
$Intro: Intro, sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$form-border-color: #d2d6de;

$black: #000000;
$white: #ffffff;
$gray: #444444;
$bodyBG: #f8f9fd;
$headText: #97a4b1;
$blueText: #077bfa;
$borderColor: #d2d5de;
$link: #077bfa;
$selectBorder: #d2d5de;
$selectText: #363636;
$headerText: #363636;
$listBorder: #dfe7ed;
$footerBG: #1f203f;
$footerBorder: #2f3050;
$popupBG: rgba(31,31,63,0.8);
$panelBG: #0089f0;

$logoBG: #39a9dc;
$breadcrumbs: #c4c4c4;
$breadcrumbsH: #172341;
$h1: #172341;
$text: #172341;
$inactive: #dfdfdf;
$filtersBG: #fafafa;
$contentBG: #fafafa;
$additionalInfo: #aaaaaa;
$linkInfo: #39a9dc;
$red: #ef6767;
$success: #30bf90;
$error: #ef6767;
$default: #aaaaaa;
$textGray: #abb0ba;

$containerWidth: 1305px;
$headerHeight: 78px;
$footerHeight: 296px;
$sidebarMargin: 17px;
$boxShadow08: 0 4px 12px rgba(0,0,0,0.08);
