// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');
@import url('~font-awesome/css/font-awesome.css');

// Noty
@import "~noty/src/noty.scss";
@import "~noty/src/themes/metroui.scss";

// AdminLTE
@import '~select2/dist/css/select2.css';
@import '~icheck/skins/square/_all.css';
@import '~admin-lte/dist/css/AdminLTE.css';
@import '~admin-lte/dist/css/skins/_all-skins.css';

// Nouislider
@import "~nouislider/distribute/nouislider.min.css";

// Fonts | Variables | Mix
@import 'utils/module';

body {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.table.small-text {
  font-size: 0.8rem;
}

.no-ui-slider {
  width: 280px;
  margin: 10px 15px 15px 15px;
}

.no-ui-slider-value {
  margin-left: 15px;
  font-size: 14px;
  color: $gray;
}

.js-icheck {
  opacity: 0;
}

.review-comment {
  white-space: nowrap;
}
.review-unpublished {
  color: $red;
}

.post-info {
  font-size: 14px;
  padding-left: 15px;
  span {
    font-weight: 700;
    color: $text;
  }
}

.img-card {
  display: inline-block;
  margin: 5px;
  img {
    margin: 0;
  }
  &__body {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    background-color: #FAFAFA;
    padding: 5px;
    border: 1px solid #bdbdbd;
  }
  &.active {
    border: 2px solid #0fb90f;
    box-shadow: 0 0px 8px rgba(21, 125, 0, 0.57);
  }
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
