.container {
  width: $containerWidth;
  margin: 0 auto;
}

.header-logo {
  width: 204px;
  color: $logoBG;
}

/*

.link {
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  color: $link;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.button {
  display: inline-block;
  width: 225px;
  height: 40px;
  padding: 13px 0 12px;
  border: 1px solid $blueText;
  border-radius: 4px;
  @include font(13px, $font-family-sans-serif, $blueText, 13px, 400);
  text-align: center;
  text-decoration: none;
  background: rgba(0,0,0,0);
  cursor: pointer;
  outline: none;

  &_upper {
    text-transform: uppercase;
  }

  &_addreses {
    width: 202px;
    font-size: 14px;
  }

  &_white {
    @include font(13px, $font-family-sans-serif, $selectText, 13px, 400);
    text-transform: uppercase;
    background: $white;
  }
}

.arrow {
  position: relative;
  width: 13px;
  height: 13px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    left: -1px;
    width: 10px;
    height: 2px;
    cursor: pointer;
    background: $selectBorder;
    -webkit-transform: translateX(0) rotate(45deg);
    -ms-transform: translateX(0) rotate(45deg);
    transform: translateX(0) rotate(45deg);
    transition: all 0.3s 0s ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: $selectBorder;
    -webkit-transform: translateX(0) translateY(0) rotate(-45deg);
    -ms-transform: translateX(0) translateY(0) rotate(-45deg);
    transform: translateX(0) translateY(0) rotate(-45deg);
    transition: all 0.3s 0s ease-in-out;
  }

  &.active {
    &:before {
      -webkit-transform: translateX(0) rotate(-45deg);
      -ms-transform: translateX(0) rotate(-45deg);
      transform: translateX(0) rotate(-45deg);
    }

    &:after {
      -webkit-transform: translateX(0) rotate(45deg);
      -ms-transform: translateX(0) rotate(45deg);
      transform: translateX(0) rotate(45deg);
    }
  }
}

.loader {
  width: 40px;
  height: 40px;
  background: center no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='60px' height='60px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-eclipse' style='background: none;'%3E%3Cpath ng-attr-d='%7B%7Bconfig.pathCmd%7D%7D' ng-attr-fill='%7B%7Bconfig.color%7D%7D' stroke='none' d='M20 50A30 30 0 0 0 80 50A30 32 0 0 1 20 50' fill='%23077bfa' transform='rotate%28126 50 51%29'%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 51;360 50 51' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/path%3E%3C/svg%3E");
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}*/
