.panel {
  @include panel;

  &_padding {
    padding: 4px;
  }

  &_grad-green {
    border-radius: 18px;
    background: linear-gradient(45deg, #ffffff, #e3f6f0);
    box-shadow: $boxShadow02;
  }

  &_grad-red {
    border-radius: 18px;
    background: linear-gradient(45deg, #ffffff, #fdefef);
    box-shadow: $boxShadow02;
  }

  &_negative-margin {
    margin: 4px -12px;
    padding: 16px;
  }

  &_margin {
    margin-bottom: 4px;
  }
}
.panel_white {
  @include panel(18, $bodyBG, $boxShadow02);
}
.panel-with-padding {
  @extend .panel;
  padding: 4px;
}
.panel-mob-content {
  @extend .panel;
  margin-left: -11px;
  margin-right: -11px;
  padding: 4px;
}