.breadcrumbs {
  padding: 10px 0;

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    @include font(10px, $Geometria, $white, 13px, 400);

    &:after {
      content: '/';
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    @include font(10px, $Geometria, $white, 13px, 400);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $breadcrumbsH;
      text-decoration: underline;
    }
  }

  &__current {
    display: inline-block;
    vertical-align: middle;
  }

  &.dark-theme &{
    &__item {
      color: $text;
    }
    &__link {
      color: $text;
      &:hover {
        color: $linkInfo;
      }
    }
  }
}