.button {
  display: inline-block;
  width: 145px;
  height: 38px;
  padding: 11px;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  @include font(13px, $Geometria, $text, 16px, 400);
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
  }

  &_success {
    background-color: $success;
    box-shadow: 0 4px 12px rgba(27,133,98,0.32);
    color: $white;

    &:hover {
      box-shadow: 0 8px 18px rgba(27,133,98,0.32);
    }
  }

  &_blue {
    background-color: $linkInfo;
    box-shadow: 0 4px 12px rgba(14,101,139,0.32);
    color: $white;

    &:hover {
      box-shadow: 0 8px 18px rgba(14,101,139,0.32);
    }
  }

  &_adaptive {
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  &_big {
    height: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }
}