.robo-advisors-item {
  margin-bottom: 4px;
  border-radius: 18px;
  background-color: $contentBG;

  &.open {
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  }

  &:hover {
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    height: 76px;
    padding: 0 16px;
  }

  &__section {
    flex-shrink: 0;
    @include font(13px, $Geometria, $text, 16px, 400);
  }

  &__company {
    width: 100px;
    margin-right: 35px;

    img {
      width: 100px;
    }
  }

  &__rating {
    width: 47px;
    margin-right: 25px;
  }

  &__recommendation {
    width: 149px;
    margin-right: 25px;
  }

  &__account {
    width: 87px;
    margin-right: 25px;
  }

  &__fee {
    width: 50px;
    margin-right: 25px;
  }

  &__aum {
    width: 70px;
    margin-right: 25px;
  }

  &__details {
    width: 167px;
    margin-right: 25px;
  }

  &__actions {
    width: 67px;
    margin-right: 19px;
  }

  &__promotions {
    margin-bottom: 6px;
  }

  &__info {
    @include font(12px, $Geometria, $additionalInfo, 15px, 400);
  }

  &__sign-up {
    color: $linkInfo;
  }

  &__compare {
    color: $text;
  }

  &__compare-form {
    &.active {
      .robo-advisors-item__compare-button {
        color: $red;
      }

      .button {
        background-color: #EF6767;
        box-shadow: 0 1px 2px rgba(135,28,28,0.36);
        color: $white;
      }
    }
  }

  &__compare-button {
    margin: 0;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    @include font(13px, $Geometria, $text, 16px, 400);
  }

  &__review {
    color: $text;
  }

  &__opener {
    position: absolute;
    top: 29px;
    right: 6px;
    width: 8px;
    height: 18px;
    cursor: pointer;
  }

  &__body {
    display: none;
  }

  &__body-contant {
    display: flex;
    align-items: flex-start;
    padding: 16px;
  }

  &__ratings {
    margin-right: 25px;
  }

  &__rating-item {
    display: flex;
  }

  &__rating-name {
    flex-shrink: 0;
    width: 129px;
    margin-right: 7px;
    @include font(13px, $Geometria, $text, 18px, 300);
  }

  &__rating-value {
    flex-shrink: 0;
    width: 47px;
    @include font(13px, $Geometria, $text, 18px, 400);
  }

  &__description {
    flex-shrink: 0;
    width: 423px;
    margin-right: 25px;
    @include font(13px, $Geometria, $text, 18px, 400);
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 700;
  }

  &__properties {
    flex-shrink: 0;
    width: 246px;
    margin-left: 14px;
  }

  &__properties-list {
  }

  &__properties-item {
    list-style: disc;
    margin-bottom: 2px;
    @include font(13px, $Geometria, $text, 18px, 300);

    strong {
      font-weight: 400;
    }
  }
}