/* first section */
.first-section {
  padding-bottom: 414px;
  position: relative;

  &__bg {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: url(../images/section-first-bg.png) no-repeat bottom right;
    z-index: -1;

    @extend .full-width;
  }
}
/* second section */
.second-section {
  margin-bottom: 46px;
  &__button{
    @extend .button;
    @extend .button_blue;
    width: 238px;
  }
}
/* third section */
.third-section {
  margin-bottom: 171px;
  &__content {
    @extend .content-width;
  }
  .statistic {
    width: 100%;
    position: relative;
    height: 512px;

    &__item {
      position: absolute;
      bottom: 0;
      left: 0;
      border: 0 solid #000000;
      transition: all 0.5s;
      border-radius: 0 20px 0 20px;
      text-align: right;
      padding: 15px;
      @include font(16px, $Geometria, $white, 24px, 400);

      &:hover {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        //bottom: 5px;
        &:nth-child(1){
          height: 517px;
        }
        &:nth-child(2){
          height: 373px;
        }
        &:nth-child(3){
          height: 245px;
        }
        &:nth-child(4){
          height: 133px;
        }
        & .statistic__note {
          bottom: 19px;
        }

        & .statistic__image {
          bottom: 41px;
        }
      }

      &:nth-child(1) {
        height: 512px;
        width: 100%;
        border-radius: 20px;

        background: rgba(78,81,163,1);
        background: -moz-radial-gradient(left bottom, ellipse cover, rgba(133,249,251,1) 0%, rgba(78,81,163,1) 100%);
        background: -webkit-radial-gradient(left bottom, ellipse cover, rgba(133,249,251,1) 0%, rgba(78,81,163,1) 100%);
        background: -o-radial-gradient(left bottom, ellipse cover, rgba(133,249,251,1) 0%, rgba(78,81,163,1) 100%);
        background: -ms-radial-gradient(left bottom, ellipse cover, rgba(133,249,251,1) 0%, rgba(78,81,163,1) 100%);
        background: radial-gradient(ellipse at left bottom, rgba(133,249,251,1) 0%, rgba(78,81,163,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85f9fb', endColorstr='#4e51a3', GradientType=1 );
      }

      &:nth-child(2) {
        height: 368px;
        width: 91%;

        background: rgba(119,66,154,1);
        background: -moz-radial-gradient(left bottom, ellipse cover, rgba(241,106,167,1) 0%, rgba(119,66,154,1) 100%);
        background: -webkit-radial-gradient(left bottom, ellipse cover, rgba(241,106,167,1) 0%, rgba(119,66,154,1) 100%);
        background: -o-radial-gradient(left bottom, ellipse cover, rgba(241,106,167,1) 0%, rgba(119,66,154,1) 100%);
        background: -ms-radial-gradient(left bottom, ellipse cover, rgba(241,106,167,1) 0%, rgba(119,66,154,1) 100%);
        background: radial-gradient(ellipse at left bottom, rgba(241,106,167,1) 0%, rgba(119,66,154,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16aa7', endColorstr='#77429a', GradientType=1 );
      }

      &:nth-child(3) {
        height: 240px;
        width: 82%;

        background: rgba(37,163,97,1);
        background: -moz-radial-gradient(left bottom, ellipse cover, rgba(248,245,148,1) 0%, rgba(37,163,97,1) 100%);
        background: -webkit-radial-gradient(left bottom, ellipse cover, rgba(248,245,148,1) 0%, rgba(37,163,97,1) 100%);
        background: -o-radial-gradient(left bottom, ellipse cover, rgba(248,245,148,1) 0%, rgba(37,163,97,1) 100%);
        background: -ms-radial-gradient(left bottom, ellipse cover, rgba(248,245,148,1) 0%, rgba(37,163,97,1) 100%);
        background: radial-gradient(ellipse at left bottom, rgba(248,245,148,1) 0%, rgba(37,163,97,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f594', endColorstr='#25a361', GradientType=1 );
      }

      &:nth-child(4) {
        height: 128px;
        width: 74%;

        background: rgba(214,64,119,1);
        background: -moz-radial-gradient(left bottom, ellipse cover, rgba(254,207,143,1) 0%, rgba(214,64,119,1) 100%);
        background: -webkit-radial-gradient(left bottom, ellipse cover, rgba(254,207,143,1) 0%, rgba(214,64,119,1) 100%);
        background: -o-radial-gradient(left bottom, ellipse cover, rgba(254,207,143,1) 0%, rgba(214,64,119,1) 100%);
        background: -ms-radial-gradient(left bottom, ellipse cover, rgba(254,207,143,1) 0%, rgba(214,64,119,1) 100%);
        background: radial-gradient(ellipse at left bottom, rgba(254,207,143,1) 0%, rgba(214,64,119,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fecf8f', endColorstr='#d64077', GradientType=1 );
      }
    }

    &__money {
      font-size: 30px;
      line-height: 41px;
    }

    &__year {
      line-height: 28px;
    }

    &__note,
    &__image {
      position: absolute;
      transition: all 0.5s;
    }
    &__note {
      top: 35px;
      left: 8px;
    }

    &__image {
      top: 16px;
      left: 16px;
    }
  }
}
/* fourth section */
.fourth-section {
  margin-bottom: 70px;

  .robo-informer {
    @extend .content-width;

    @include font(14px, $Geometria, $text, 20px, 400);

    &__container {
      position: relative;
      padding: 4px;
      border-radius: 20px;
      background-color: $contentBG;
      box-shadow: $boxShadow08;
    }
    &__row {
      padding: 26px 8px;
      text-align: center;
      border-radius: 18px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
      transition: all 300ms;
      &:hover {
        background-color: #ffffff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        font-weight: 700;
      }
    }

    &__block-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-bottom: 40px;
      margin-bottom: 20px;
    }
    &__block-row {
      text-align: center;
      margin-bottom: 26px;
    }

    &__block{
      @include font(16px, $Geometria, $textGray, 22px, 400);
      position: relative;
      padding: 15px 17px;
      display: inline-block;
      border-radius: 18px;
      box-shadow: $boxShadow36Hide;
      text-align: center;
      transition: box-shadow,color 300ms;

      &:hover{
        box-shadow: $boxShadow36;
        color: $success;
      }
      &:active:after,
      &:hover:after {
        opacity: 1;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        opacity: 0;
        transition: opacity 300ms;
        width: 47px;
        height: 560px;
      }

      &-first,
      &-third,
      &-fifth {
        &:after {
          right: 100%;
          background: url("/images/info-line-l.png") no-repeat top left;
          margin-right: 20px;
        }
      }

      &-second,
      &-fourth,
      &-sixth {
        &:after {
          left: 100%;
          background: url("/images/info-line-r.png") no-repeat top right;
          margin-left: 20px;
        }
      }
    }
  }
}
/* fifth section */
.fifth-section {
  margin-bottom: 70px;
  &__content {
    @extend .full-width;
  }
  .why-use {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 374px;
    margin: 0 auto;
    padding-bottom: 35px;

    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url(/images/section-bg5-mob.png) no-repeat 13px 77px;
      z-index: -1;
    }

    &__block {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-grow: 0;
      flex-wrap: wrap;
      margin-bottom: 76px;

      &:nth-child(1){
        margin-bottom: 54px;
      }

      &:last-child{
        margin-right: 0;
      }
    }

    &__item {
      text-align: center;
      max-width: 260px;
    }

    &__icon {
      margin: 0 auto;
      width: 114px;
      height: 113px;
      display: block;
    }

    &__text {
      display: block;
      position: relative;
      top: -5px;
      @include font(16px, $Geometria, $text, 22px, 700);
    }
  }
}

