@font-face {
  font-family: 'geometria';
  src: url('../fonts/geometria-regular.eot');
  src: url('../fonts/geometria-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria-regular.woff2') format('woff2'),
  url('../fonts/geometria-regular.woff') format('woff'),
  url('../fonts/geometria-regular.ttf') format('truetype'),
  url('../fonts/geometria-regular.svg#geometria') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'geometria';
  src: url('../fonts/geometria-light.eot');
  src: url('../fonts/geometria-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria-light.woff2') format('woff2'),
  url('../fonts/geometria-light.woff') format('woff'),
  url('../fonts/geometria-light.ttf') format('truetype'),
  url('../fonts/geometria-light.svg#geometria') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'geometria';
  src: url('../fonts/geometria-bold.eot');
  src: url('../fonts/geometria-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria-bold.woff2') format('woff2'),
  url('../fonts/geometria-bold.woff') format('woff'),
  url('../fonts/geometria-bold.ttf') format('truetype'),
  url('../fonts/geometria-bold.svg#geometria') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'intro';
  src: url('../fonts/intro-regular.eot');
  src: url('../fonts/intro-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro-regular.woff2') format('woff2'),
  url('../fonts/intro-regular.woff') format('woff'),
  url('../fonts/intro-regular.ttf') format('truetype'),
  url('../fonts/intro-regular.svg#intro') format('svg');
  font-weight: 400;
  font-style: normal;
}