.topic {
  margin-left: 20px;
  min-height: 170px;
  padding-bottom: 35px;
}

.main,
.main-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main {
  padding-bottom: 70px;
}

.main-content {
  flex-shrink: 0;
  flex-basis: 974px;
  flex-grow: 1;
}

.sidebar {
  flex-shrink: 0;
  width: 314px;
  &__left {
    margin-right: $sidebarMargin;
  }
  &__right {
    margin-left: $sidebarMargin;
  }
  &__inner {
    padding: 5px 4px;
    border-radius: 20px;
    background-color: $filtersBG;
    box-shadow: $boxShadow08;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    &_center {
      justify-content: center;
    }
  }
}