.footer {
  background: $text;

  &__nav {
    display: flex;
    align-items: flex-start;
    width: 920px;
    margin: 0 auto;
    padding: 30px;
  }

  &__title {
    margin-bottom: 26px;
    @include font(13px, $Geometria, $white, 16px, 700);
  }

  &__links {
    width: 200px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__links-list {
    li {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__bottom {
    padding: 16px;
  }

  &__copy {
    text-align: center;
    @include font(12px, $Geometria, #ABB0BA, 15px, 400);
  }
}