.header {
  height: 78px;
  background: $white;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 78px;
  }

  &__logo-container {
    width: 204px;
  }
}